---
import Layout from "@layouts/Layout.astro";
import { getDirectory } from "@lib/Anime";

const { directory } = await getDirectory();
---

<Layout title="Directorio">
  <section class="mx-auto max-w-1xl px-4 py-16 sm:px-6">
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
    >
      {
        directory.map((anime) => (
          <article
            class="w-80 h-auto text-start overflow-hidden rounded-xl relative transform 
            hover:-translate-y-2 transition ease-in-out duration-700 shadow-lg 
            hover:shadow-2xl hover:h-auto bg-gradient-to-t from-black via-gray-900 to-transparent"
          >
            <a
              href={`/anime/info/${anime.title}`}
              class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent"
            />
            <div class="relative cursor-pointer group z-10 m-3 h-max  ">
              {/* <div class="h-32"></div> */}
              <div class="space-y-6">
                <div class="flex flex-col space-y-2 m-2 mt-36">
                  <h3 class="text-2xl font-bold ">{anime.title}</h3>

                  {/* generos */}
                  <div class="text-xs text-gray-400 grid grid-cols-1 gap-x-3 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                    {anime.genres.map((generos) => (
                      <span>{generos}</span>
                    ))}
                  </div>
                </div>

                {/* Info */}
                <div class="flex flex-row justify-around datos">
                  <div class="flex flex-col datos_col">
                    <div class="text-sm text-gray-400">Popularity:</div>
                    <div class="popularity">{anime.score}/10</div>
                  </div>
                  <div class="flex flex-col datos_col">
                    <div class="text-sm text-gray-400">Tipo:</div>
                    <div class="release">{anime.type}</div>
                  </div>
                </div>

                {/* Description */}
                {/* <div className="flex flex-col overview">
                    <div className="text-xs text-gray-400 mb-2">Description:</div>
                    <p className=" text-xs overflow-y-hidden text-overflow: ellipsis; ">
                      {anime.description}
                    </p>
                  </div> */}
              </div>
              {/* <div data-countdown="2021-09-15" class="absolute inset-x-0 top-0 pt-5 w-full mx-auto text-2xl uppercase text-center drop-shadow-sm font-bold text-white">00 Days 00:00:00</div> */}
            </div>
            <img
              src={anime.poster}
              alt={anime.title}
              class="absolute inset-0  w-full  object-cover"
            />
          </article>
        ))
      }
    </div>
  </section>
</Layout>
