---
import { Image } from "astro:assets";

function corregirUrl(url: string): string {
  // Reemplazar "hhttps://" con "https://"
  return url.replace("hhttps://", "https://");
}

interface Props {
  search: [any];
}

const { search } = Astro.props;
---

{
  (
    <section class="mx-auto max-w-1xl px-4 m-10 mt-14 sm:px-6">
      <div class="flex flex-wrap justify-center gap-x-6 gap-y-10">
        {search.map((anime) => (
          <article class="w-96 rounded-md shadow-lg bg-gray-950 border-gray-300 border">
            <div class="flex flex-col  leading-none ">
              <a
                href={`/anime/info/${anime.title}`}
                class="flex-none flex flex-col items-center"
              >
                <Image
                  src={corregirUrl(anime.image)}
                  alt={anime.title}
                  width={200}
                  height={150}
                  class=" object-cover object-center  rounded-md shadow-2xl transform -translate-y-4 border-2 border-gray-300"
                />
                <span class="text-white m-0 text-sm">{anime.type}</span>
              </a>

              <div class="flex-col  text-center">
                <p class="m-2 text-2xl font-bold">{anime.title}</p>
                <hr class="hr-text" data-content="" />
              </div>
            </div>
          </article>
        ))}
      </div>
    </section>
  )
}
